<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.TPConnectionString" connectionString="Data Source=.;Initial Catalog=TP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.TPFinalConnectionString" connectionString="Data Source=.;Initial Catalog=TPFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>