<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabajo_Practico.Properties.Settings.TPFinalConnectionString"
            connectionString="Data Source=DESKTOP-63938MP\IAN;Initial Catalog=TPFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>